body {
	font-size: 72px;
	font-family: 'Quicksand', sans-serif;
	background-color: black;
	text-align: center;
	color: white;
	background-size: 200%;
}

#topsection {
	background-color: black;
	width: auto;
	height: 800px;
	margin-top: -90px;
	z-index: 0;
}

#toptext {

}

#scrolldown {
	font-family: 'Quicksand', sans-serif;
	font-size: 24px;
	font-weight: 300px;
}


#materialDivider {
	background-color: #4CAF50;
	width: 600px;
	height: 50px;
	text-align: center;
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
	border-top-right-radius: 10px;
	border-top-left-radius: 10px;
	margin: 0 auto;
	margin-top: 0px;
	font-size: 24px;
	z-index: 2;
}

#materialDividerText {
	padding-top: 6px;
	font-family: 'Quicksand', sans-serif;
	font-weight: 300px;
}

#midsection1 {
	width: auto;
	height: 800px;
	background-color: white;
	margin-right: -8px;
	margin-left: -8px;
	z-index: 1;
}

.arrows {
	width: 60px;
	height: 72px;
	position: absolute;
	left: 50%;
	margin-left: -30px;
	bottom: -100px;
}

.arrows path {
	stroke: #ffffff;
	fill: transparent;
	stroke-width: 3px;	
	animation: arrow 2s infinite;
	-webkit-animation: arrow 2s infinite; 
}

@keyframes arrow
{
0% {opacity:0}
40% {opacity:1}
80% {opacity:0}
100% {opacity:0}
}

@-webkit-keyframes arrow /*Safari and Chrome*/
{
0% {opacity:0}
40% {opacity:1}
80% {opacity:0}
100% {opacity:0}
}

.arrows path.a1 {
	animation-delay:-1s;
	-webkit-animation-delay:-1s; /* Safari 和 Chrome */
}

.arrows path.a2 {
	animation-delay:-0.5s;
	-webkit-animation-delay:-0.5s; /* Safari 和 Chrome */
}

.arrows path.a3 {	
	animation-delay:0s;
	-webkit-animation-delay:0s; /* Safari 和 Chrome */
}